.download {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin: $base $base*2.25;
	padding: $base*0.875 $base*2.25;
	background-color: #F9FAFB;
	border-radius: $border-radius-medium;

	@include media-medium {
		display: block;
		margin: $base $base*0.875;
		padding: $base*0.875 $base*1.25;
	}
}

.download__content {
	width: 21rem;
	margin-right: $base*1.25;

	@include media-medium {
		margin: 0 auto;
	}
}

.download__header {
	@extend %header-3-size;
}

.download__description {
	@extend %description-styles;
	margin: $base*0.5 0 $base*0.75 0;
}

.download__more {
	@extend %description-styles;
}

.download__image-container {
	text-align: center;

	@include media-medium {
		margin-top: $base*1.25;
	}
}

.download__image {
	width: 14rem;
	height: 100%;
}
