.features {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: $base*1.125 0;

	&._animate {
		transform: translate(0, 2%);
		opacity: 0;
	}

	&._animate-show {
		opacity: 1;
		transform: translate(0, 0);
		transition: all $duration*1.5 ease-out $duration*2;
	}
}
