.footer {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	margin: $base*0.75 $base*1.25;
	padding: $base*0.75 0;
	border-top: $section-border;

	@include media-medium {
		display: block;
	}

	@include media-small {
		margin: $base*0.75;
	}

	&._animate {
		transform: translate(0, 25%);
		opacity: 0;
	}

	&._animate-show {
		opacity: 1;
		transform: translate(0, 0);
		transition: all $duration*2 ease-out $duration*0.5;
	}
}

.footer__column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-self: normal;
}

.footer__column--right {
	align-items: flex-end;

	@include media-medium {
		align-items: flex-start;
	}
}
