@font-face {
	font-family: "Castoro";
	src: url("../assets/fonts/castoro-regular.woff2") format("truetype");
	font-style: normal;
	font-weight: normal;
	font-display: swap;
}

@font-face {
	font-family: "Lato";
	src: url("../assets/fonts/lato-regular.woff2") format("truetype");
	font-style: normal;
	font-weight: normal;
	font-display: swap;
}
