@font-face {
	font-family: "Castoro";
	src: url("../assets/fonts/castoro/castoro-regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Lato";
	src: url("../assets/fonts/lato/lato-regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
