html {
  font-size: 10px;
  scroll-behavior: smooth;
  cursor: default;
}

body {
  min-width: $content-min-width;
}

.body--locked {
  overflow: hidden;
}

.visual-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}
