.button {
	@include font($font-family-primary, $font-size-m, 1.8rem, $font-weight-bold);
	padding: 1.4rem 1.8rem;
	color: $color-button-text;
	background-color: $color-button-background;
	border: $border;
	border-radius: $border-radius;
	cursor: pointer;
	transition: background-color $transition-duration;

	&:hover {
		background-color: darken($color-button-background, $color-darken-percent);
	}
}

.button--primary {
	color: $color-button-primary-text;
	background-color: $color-button-primary;

	&:hover {
		background-color: lighten($color-button-primary, $color-lighten-percent);
	}
}

.button--transparent {
	color: #ADB4D2;
	background-color: $color-background-accent;
	border-color: #D1D1E4;

	&:hover {
		background-color: darken($color-background, $color-darken-percent);
	}
}
