.button {
	@include font($font-family-primary, $font-size-m, 1.8rem, $font-weight-bold);
	padding: 1.4rem 1.8rem;
	color: $color-button-text;
	background-color: $color-button-background;
	border: $border;
	border-radius: $border-radius;
	cursor: pointer;
	outline: none;
	transition: background-color $transition-duration;

	&:hover {
		background-color: darken($color-button-background, $color-darken-percent);
	}
}

.button--primary {
	color: $color-button-primary-text;
	background-color: $color-button-primary;

	&:hover {
		background-color: lighten($color-button-primary, $color-lighten-percent);
	}
}

.button--light {
	color: $color-heading;
	background-color: $color-button-background-light;

	&:hover {
		background-color: darken($color-button-background-light, $color-darken-percent);
	}
}

.button--dark {
	color: #7382A3;
	background-color: #E8ECF4;

	&:hover {
		color: $color-button-primary-text;
		background-color: $color-primary;
	}
}

.button--warning {
	color: #D43F3F;
	background-color: #FFD7D7;
	border-color: #FFD7D7;

	&:hover {
		background-color: darken(#FFD7D7, $color-darken-percent);
	}
}

.button--transparent {
	position: relative;
	right: 0.4rem;
	color: #ADB4D2;
	background-color: transparent;
	border-color: #D1D1E4;
	transition: $transition-duration;

	&:hover {
		color: $color-primary;
		background-color: transparent;
		border-color: $color-primary;
	}
}

.button--transparent-light {
	color: #C7D3FF;
	border-color: #C7D3FF;

	&:hover {
		color: $color-text-light;
		background-color: transparent;
		border-color: $color-text-light;
	}
}
