.faq-questions {
	width: 70rem;

	@include media-average-tablet {
		width: 100%;
	}
}

.faq-question {
	padding: 2rem;
	border-bottom: 0.1rem solid #D8E3FE;
	color: $color-text;
}

.faq-question__title {
	display: inline-flex;
	align-items: center;
	cursor: pointer;
	transition: $transition-duration;

	&:hover {
		color: #495274;

		.icon--vector {
			@include icon-background("../assets/icons/", "vector-hover", 2rem, 2rem, false);
		}
	}
}

.faq-question__title-text {
	@include font($font-family-primary, $font-size-l, 2rem, $font-weight-bold);
}

.faq-question__description {
	transition: opacity $transition-duration ease-out;
	height: 0;
	opacity: 0;
	overflow: hidden;
}

.faq-question__description--opened {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: auto;
	padding: calc($base/2) 0 0 $base*1.25;
	opacity: 1;

	@include media-average-tablet {
		display: block;
	}

	@include media-min-tablet {
		padding-left: $base*0.75;
	}
}

.faq-question__description-text {
	@include font($font-family-primary, $font-size-l, 2.7rem, $font-weight-medium);
	letter-spacing: 0.03em;
	width: 40rem;

	@include media-average-tablet {
		width: 100%;
		margin-bottom: calc($base/2);
	}
}
