// ======================= Size =======================

.header-1-size {
	@include font($font-family-primary, $font-size-3xl, 6rem, $font-weight-light);
	@extend %header-color;
}

.header-2-size {
	@include font($font-family-primary, $font-size-2xl, 4.5rem, $font-weight-light);
	@extend %header-color;
}

.header-3-size {
	@include font($font-family-primary, $font-size-xl, 3rem, $font-weight-medium);
	@extend %header-color;
}

.header-4-size {
	@include font($font-family-primary, $font-size-2l, 2.2rem, $font-weight-bold);
	@extend %header-color;
}

.header-5-size {
	@include font($font-family-regular, $font-size-xs, 1.2rem, $font-weight-medium);
	@extend %header-color;
}

.header-6-size {
	@include font($font-family-regular, $font-size-m, 2.5rem, $font-weight-bold);
	@extend %header-color;
	margin: $base*0.75 0;
}

// =================== Modification ===================

.header--uppercase {
	text-transform: uppercase;
}

.header--bold {
	font-weight: $font-weight-medium;
}

.header--center {
	text-align: center;
}

.header--light {
	color: $color-text-light;
}
