.header-1-level {
	@include font($font-family-primary, $font-size-3xl, 6rem, $font-weight-light);
	color: $color-heading;
}

.header-2-level {
	@include font($font-family-primary, $font-size-2xl, 4.5rem, $font-weight-light);
	color: $color-heading;
}

.header-3-level {
	@include font($font-family-primary, $font-size-xl, 3rem, $font-weight-medium);
	color: $color-heading;
}

.header-4-level {
	@include font($font-family-primary, $font-size-2l, 2.2rem, $font-weight-bold);
	color: $color-heading;
}

.header-5-level {
	@include font($font-family-regular, $font-size-xs, 1.2rem, $font-weight-medium);
	text-transform: uppercase;
	color: $color-heading;
}

.header-6-level {
	@include font($font-family-regular, $font-size-m, 2.5rem, $font-weight-bold);
	color: $color-primary;
	margin: 3rem 0;
}

.header--accent-weight {
	font-weight: $font-weight-medium;
}

.header--center {
	text-align: center;
}

.header--light {
	color: $color-text-light;
}
