.icon {
	display: inline-block;
	cursor: pointer;
}

.icon--default-cursor {
	cursor: default;
}

.icon--round {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

.icon--promo-play {
	width: 5rem;
	height: 5rem;
	margin: 2rem auto;
	background-color: $color-button-background-light;
	box-shadow: 0 1rem 5rem rgba($color-shadow, 0.6);
	transition: box-shadow $transition-duration;

	>.icon--play {
		@include icon-modification(1rem, 1.1rem, "../assets/icons/", "play.svg");
	}

	&:hover {
		box-shadow: 0 1rem 5rem rgba($color-shadow, 100%);
	}
}

// ========== Socials ==========
.icon--facebook {
	@include icon-modification(1rem, 1.8rem, "../assets/icons/socials/", "facebook.svg", "facebook-hover.svg");
}

.icon--telegram {
	@include icon-modification(1.8rem, 1.4rem, "../assets/icons/socials/", "telegram.svg", "telegram-hover.svg");
}

.icon--twitter {
	@include icon-modification(1.8rem, 1.4rem, "../assets/icons/socials/", "twitter.svg", "twitter-hover.svg");
}

.icon--medium {
	@include icon-modification(1.8rem, 1.4rem, "../assets/icons/socials/", "medium.svg", "medium-hover.svg");
}

// ========== Customers ==========
.icon--bitbucket {
	@include icon-modification(13rem, 3rem, "../assets/icons/customers/", "bitbucket.svg", "bitbucket-hover.svg");
}

.icon--apple-watch {
	@include icon-modification(12rem, 2.5rem, "../assets/icons/customers/", "apple-watch.svg", "apple-watch-hover.svg");
}

.icon--facebook-customers {
	@include icon-modification(12rem, 2.5rem, "../assets/icons/customers/", "facebook-customers.svg", "facebook-customers-hover.svg");
}

.icon--atlassian {
	@include icon-modification(12rem, 2.5rem, "../assets/icons/customers/", "atlassian.svg", "atlassian-hover.svg");
}

.icon--audi {
	@include icon-modification(12rem, 3rem, "../assets/icons/customers/", "audi.svg", "audi-hover.svg");
}

// ========== Features ==========
.icon--feature {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 6.9rem;
	height: 6.9rem;
	background-color: #F1F5FF;
	border: 0.2rem solid #F1F5FF;
	border-radius: 50%;
	cursor: default;
	transition: border-color $transition-duration;

	&:hover {
		border: 0.2rem solid $color-primary;
	}
}

.icon--overview {
	@include icon-modification(2rem, 2.4rem, "../assets/icons/features/", "overview.svg");
}

.icon--files {
	@include icon-modification(3rem, 2rem, "../assets/icons/features/", "files.svg");
}

.icon--meeting-chats {
	@include icon-modification(2.2rem, 2rem, "../assets/icons/features/", "meeting-chats.svg");
}

.icon--save-events {
	@include icon-modification(2.1rem, 1.9rem, "../assets/icons/features/", "save-events.svg");
}

// ========== Stats ==========

.icon--rating {
	@include icon-modification(6.7rem, 7rem, "../assets/icons/stats/", "rating.svg");
}

.icon--users {
	@include icon-modification(7.5rem, 7rem, "../assets/icons/stats/", "users.svg");
}

// ========== Slider ==========
.icon--arrow {
	@include icon-modification(3rem, 2rem, "../assets/icons/", "arrow.svg", "arrow-hover.svg");
	transition: $transition-duration;

	&.icon--arrow-left {
		transform: rotate(180deg);
	}
}
