.icon {
	display: inline-block;
	cursor: pointer;
}

.icon--default-cursor {
	cursor: default;
}

.icon--round {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

// ==================== Promo ====================

.icon--promo-play {
	@include font($font-family-primary, $font-size-2l, 1.8rem, $font-weight-bold);

	$size: 5rem;
	$shadow-value: 0 0 5rem;

	width: $size;
	height: $size;
	margin: 2rem auto;
	color: $color-primary;
	background-color: $color-button-background-light;
	box-shadow: $shadow-value rgba($color-shadow, 0.8);
	transition: box-shadow $transition-duration;
	text-decoration: none;

	&:hover {
		box-shadow: $shadow-value rgba($color-shadow, 0.6);
	}
}


// ==================== Socials ====================

@mixin social-icon($key) {
	@include icon-background("../assets/icons/socials/", $key, 2rem);
}

.icon--facebook {
	@include social-icon("facebook");
}

.icon--telegram {
	@include social-icon("telegram");
}

.icon--twitter {
	@include social-icon("twitter");
}

.icon--medium {
	@include social-icon("medium");
}


// ==================== Customers ====================

@mixin customer-icon($key) {
	@include icon-background("../assets/icons/customers/", $key, 13rem, 3rem);
}

.icon--bitbucket {
	@include customer-icon("bitbucket");
}

.icon--apple-watch {
	@include customer-icon("apple-watch");
}

.icon--facebook-customers {
	@include customer-icon("facebook-customers");
}

.icon--atlassian {
	@include customer-icon("atlassian");
}

.icon--audi {
	@include customer-icon("audi");
}


// ==================== Features ====================

@mixin feature-icon($key) {
	@include icon-background("../assets/icons/features/", $key, 3rem, 3rem, false);
}

.icon--feature {
	$color: #F1F5FF;
	$size: 6.9rem;

	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: $size;
	height: $size;
	background-color: $color;
	border: 0.2rem solid $color;
	border-radius: 50%;
	cursor: default;
	transition: border-color $transition-duration;

	&:hover {
		border: 0.2rem solid $color-primary;
	}
}

.icon--overview {
	@include feature-icon("overview");
}

.icon--files {
	@include feature-icon("files");
}

.icon--meeting-chats {
	@include feature-icon("meeting-chats");
}

.icon--save-events {
	@include feature-icon("save-events");
}


// ==================== Stats ====================

.icon--rating {
	@include icon-background("../assets/icons/stats/", "rating", 7rem, 7rem, false);
}

.icon--users {
	@include icon-background("../assets/icons/stats/", "users", 7rem, 7rem, false);
}

// ==================== Slider ====================

.icon--arrow {
	@include icon-background("../assets/icons/", "arrow", 3rem);
	transition: $transition-duration;

	&.icon--arrow-left {
		transform: rotate(180deg);
	}
}


// ==================== FAQ ====================

.icon--vector {
	@include icon-background("../assets/icons/", "vector", 2rem);
	margin: 0.25rem 1rem 0 0;
}
