.questions {
	width: 70rem;
}

.question {
	padding: 2rem;
	border-bottom: 0.1rem solid #D8E3FE;
	color: $color-text;
}

.question__title {
	display: flex;
	align-items: center;
}

.question__title-text {
	@include font($font-family-primary, $font-size-l, 2rem, $font-weight-bold);
}

.question__description {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 0 0 5rem;
}

.question__description-text {
	@include font($font-family-primary, $font-size-l, 2.7rem, $font-weight-medium);
	letter-spacing: 0.03em;
	width: 40rem;
}
