.questions {
	width: 70rem;

	@include media-average-tablet {
		width: 100%;
	}
}

.question {
	padding: 2rem;
	border-bottom: 0.1rem solid #D8E3FE;
	color: $color-text;
}

.question__title {
	display: flex;
	align-items: center;
}

.question__title-text {
	@include font($font-family-primary, $font-size-l, 2rem, $font-weight-bold);
}

.question__description {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: calc($base/2) 0 0 $base*1.25;

	@include media-average-tablet {
		display: block;
	}

	@include media-min-tablet {
		padding-left: $base*0.75;
	}
}

.question__description-text {
	@include font($font-family-primary, $font-size-l, 2.7rem, $font-weight-medium);
	letter-spacing: 0.03em;
	width: 40rem;

	@include media-average-tablet {
		width: 100%;
		margin-bottom: calc($base/2);
	}
}
