.apps {
	display: flex;
	margin: $base*0.3 0;
	list-style: none;
}

.apps__item {
	& + & {
		margin-left: $base*0.2;
	}
}

.apps__link {
	display: flex;
	align-self: center;
	padding: $base*0.2 $base*0.3;
	background-color: $color-link;
	border-radius: 0.5rem;
	box-shadow: 0 4.375px 17.5px rgba(19, 78, 74, 0.18),
							0 1.75px 5.25px rgba(19, 78, 74, 0.12),
							0 0 0.875px rgba(0, 0, 0, 0.04);
	transition: box-shadow $duration-shot;
	cursor: pointer;

	&:hover {
		box-shadow: 0 6px 20px rgba(19, 78, 74, 0.18),
								0 4px 8px rgba(19, 78, 74, 0.12),
								0 0 4px rgba(0, 0, 0, 0.04);
	}
}

.apps__image {
	width: 100%;
	height: 100%;
}
