.customers {
	padding: $base 0;
	border-bottom: $border;
}

.customers__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;

	@include media-average-tablet {
		justify-content: center;
	}

	@include media-max-mobile {
		display: flex;
		flex-direction: column;
	}
}

.customers__item {
	margin: calc($base/2);
}
