.faq {
	padding: $base*2.5;
	border-bottom: $border;

	@include media-average-tablet {
		padding: $base*2 0;
	}
}

.faq__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.faq__header {
	margin: calc($base/2) auto $base*1.5 auto;
}
