.features {
	display: flex;
	justify-content: center;
	padding: $base*4 0;
	border-bottom: $border;
	background-color: $color-background;
	background-image: url("../assets/images/features.png");
	background-repeat: no-repeat;
	background-size: cover;

	@include media-max-mobile {
		padding: $base*3 0;
	}
}

.features__header {
	margin-top: calc($base/2);
}

.features__container {
	display: flex;
	margin: $base*2.5 0;

	@include media-max-tablet {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: $base*2 0;
	}

	@include media-max-mobile {
		margin: $base*1.5 0;
	}
}

.features__column {
	display: flex;

	@include media-max-mobile {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}


// ==================== Feature ====================

.feature {
	width: 14rem;
	margin: calc($base/2) $base;
	text-align: center;

	@include media-max-tablet {
		width: 18rem;
		margin: $base;
	}

	@include media-average-tablet {
		width: 14rem;
	}

	@include media-max-mobile {
		width: 18rem;
	}
}

.feature__description {
	@include font($font-family-regular, $font-size-s, 177%, $font-weight-regular);
}


// ==================== Features buttons ====================

.features__buttons {
	display: flex;
	justify-content: center;

	@include media-max-mobile {
		display: block;
		text-align: center;
	}
}

.features__buttons-or {
	@include font($font-family-regular, $font-size-s, 1.8rem, $font-weight-regular);
	margin: 0 calc($base/2);
	width: 8rem;
	text-align: center;
	color: #DFE2EF;

	@include media-max-mobile {
		margin: calc($base/2) auto $base auto;
	}
}

.features__buttons-text {
	padding: 0 calc($base/4);
	position: relative;
	top: 1.6rem;
	text-transform: uppercase;
	background-color: $color-background;
}

.features__buttons-line {
	border: none;
	height: 0.1rem;
	background-color: #DFE2EF;
}
