.footer {
	padding: $base*2 0;
}

.footer__content {
	display: flex;
	align-items: center;
}

.footer__copyright {
	@include font($font-family-primary, $font-size-s, 0.05rem, $font-weight-medium);
	margin-top: $base*2;
	text-align: right;
	color: #AEB8D0;
}
