.promo {
	display: flex;
	flex-direction: column;
	height: 60rem;
	padding-top: $base*2;
	border-bottom: $border;
	background-color: $color-background-accent;
	background-image: url("../assets/images/promo.svg");
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;

	@include media-average-tablet {
		height: 64rem;
	}
}

.promo__content {
	max-width: 60rem;
	margin: 0 auto;
	text-align: center;

	.promo__content-header {
		margin-top: calc($base / 2);
	}
}

.promo__list {
	display: flex;
	position: relative;
	margin: $base calc($base / 2) calc($base / 2) calc($base / 2);
}

.promo__item {
	display: none;
}

.promo__item--active {
	display: block;
}

.promo__dots {
	margin-top: auto;
	margin-bottom: $base;
}

.promo__item {
	animation-name: fade;
	animation-duration: 0.5s;
}

@keyframes fade {
	from {
		opacity: .4
	}
	to {
		opacity: 1
	}
}
