.promo {
	display: flex;
	flex-direction: column;
	height: 57rem;
	padding-top: 9rem;
	border-bottom: $border;
	background-color: $color-background-accent;
	background-image: url("../assets/images/promo.svg");
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
}

.promo__content {
	max-width: 60rem;
	margin: 0 auto;
	text-align: center;

	.promo__content-header {
		margin-top: 1.6rem;
	}
}

.promo__list {
	margin: 2.8rem 2rem 2rem 2rem;
}

.promo__dots {
	margin-top: auto;
	margin-bottom: 4rem;
}
