@mixin font($family: $font-family-regular, $size, $height: $size, $weight: bold) {
	font-family: $family;
	font-size: $size;
	font-weight: $weight;
	line-height: $height;
}

@mixin icon-background($url, $name, $width, $height: $width, $hover: true) {
	$path: $url + $name;

	width: $width;
	height: $height;
	background-image: url($path + ".svg");
	background-size: 100% 100%;
	background-position: center center;
	background-repeat: no-repeat;
	transition: $transition-duration;

	@if $hover == true {
		&:hover {
			background-image: url($path + "-hover.svg" or $path);
			outline: none;
		}
	}
}


// ====================== Media =======================

@mixin media-max-tablet {
	@media (max-width: $tablet-max-width) {
		@content;
	}
}

@mixin media-average-tablet {
	@media (max-width: $tablet-average-width) {
		@content;
	}
}

@mixin media-min-tablet {
	@media (max-width: $tablet-min-width) {
		@content;
	}
}

@mixin media-max-mobile {
	@media (max-width: $mobile-max-width) {
		@content;
	}
}
